@font-face {
  font-family: "Raleway";
  src: url("fonts/Raleway-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Raleway";
  src: url("fonts/Raleway-Bold.ttf") format("truetype");
  font-weight: 700;
}

html {
  --PrimaryColor: #0065fc;
  --SecondaryColor: #deebff;
  --BackgroundColor: #f2f2f2;
  --mainGrey: #e6e4e4a8;
}

*,
html,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
}

body {
  background-color: var(--BackgroundColor);
  font-size: 100%;
}
/* Header */

.header__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header__first {
  display: flex;
  justify-content: space-between;
  margin-right: 70px;
}

.header__logo {
  width: 120px;
  height: 60px;
  margin: 45px 0 0 70px;
}

.header__link {
  position: relative;
  display: flex;
  align-items: center;
  padding: 16px 32px;
  text-decoration: none;
  border-top: 2px solid transparent;
}

.header__nav {
  display: flex;
}

.header__link:hover {
  border-top: 2px solid var(--PrimaryColor);
}

/* Header titles */

.header__titles {
  margin: 45px 0 0 60px;
}

.header__mainTitle {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 5px;
}

.header__subTitle {
  font-size: 15px;
  font-weight: 400;
}

/* Header search bar*/

.header__search {
  display: flex;
  margin: 25px 15px;
}

#search {
  display: flex;
  align-items: center;
  margin-left: 45px;
}

.header__input {
  border: none;
  height: 48px;
  padding: 0 15px;
  font-weight: 600;
  border-left: 2px solid var(--mainGrey);
  background-color: var(--BackgroundColor);
}

.header__input:focus {
  outline: 1px solid #000000;
}

.header__SearchButton,
.header__SearchButton > span {
  border: none;
  outline: 1px solid var(--PrimaryColor);
  border-radius: 0 10px 10px 0;
  color: var(--SecondaryColor);
  background: var(--PrimaryColor);
  padding: 0 4px;
}

.fa-location-dot {
  padding: 0 15px;
}

.header__form {
  border: 2px solid var(--mainGrey);
  border-radius: 10px 0 0 10px;
  background-color: var(--mainGrey);
}

/* Header filters*/

.header__filters {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 30px 60px;
}

.header__filters > p {
  font-weight: 700;
  margin-right: 30px;
}

.filter__btn {
  padding: 10px 15px 10px 15px;
  border: none;
  border-radius: 60px;
  font-weight: 700;
}

/*  Block : Icones + button*/

.filter__Block {
  display: flex;
  align-items: center;
  border: 1px solid #cfcdcda6;
  border-radius: 60px;
  margin: 8px 30px;
  transition: all 0.6;
}

.filter__Block:hover {
  transform: scale(1.2);
}

/* All Filters icones styles*/

.fa-sack-dollar,
.fa-universal-access,
.fa-heart,
.fa-dog {
  border-radius: 100%;
  border: none;
  background-color: var(--SecondaryColor);
  padding: 18px;
  color: var(--PrimaryColor);
  transform: translateX(-2px);
}

.fa-info {
  text-align: center;
  height: 20px;
  width: 20px;
  margin: 5px;
  border-radius: 100%;
  border: 2px solid var(--mainGrey);
}

/*header info*/

.header__info {
  margin-left: 60px;
  margin-bottom: 30px;
  font-size: 15px;
  font-weight: 400;
  display: flex;
  align-items: center;
}
/*Main container*/
.fa-regular {
  color: rgb(202, 199, 199);
}
/*Main section1*/

.main__container {
  display: flex;
  justify-content: space-evenly;
  border-radius: 20px;
}

.main__section1 {
  max-width: 1200px;
  width: 60%;
  height: auto;
}

.section__title {
  margin-bottom: 20px;
}

.section1__text {
  margin-top: 20px;
}

/* CARD Hebergements*/
.section1__card {
  display: flex;
  flex-direction: column;
  width: 30%;
  border-radius: 15px;
  padding: 5px;
  margin: 10px 0;
  cursor: pointer;
  -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.31);
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.31);
  transition: transform 300ms;
}

.section1__card:hover {
  transform: scale(1.05);
}

.section1__card > img {
  object-fit: cover;
  height: 147px;
  overflow: hidden;
  border-radius: 15px 15px 0 0;
}

.section1__text {
  font-weight: bold;
}

.card__block {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  background-color: transparent;
}

.card__infos {
  margin: 5px;
}
.card__title,
.card__text,
.card__stars {
  padding: 4px 0;
}

.card__stars {
  color: var(--PrimaryColor);
}

/*MAIN Aside*/
.main__aside {
  width: 30%;
}

.main__section1,
.main__aside {
  padding: 20px;
  border-radius: 20px;
  background-color: var(--mainGrey);
}

.aside__titleBlock {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

/*CARDS aside*/
.aside__cardBlock {
  display: flex;
  flex-direction: column;
  padding: 4px;
}

.aside__card {
  display: flex;
  margin-bottom: 5%;
  padding: 5px;
  cursor: pointer;
  background-color: var(--BackgroundColor);
  border-radius: 15px;
  -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.31);
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.31);
  transition: transform 300ms;
}

.aside__card:hover {
  transform: scale(1.05);
}

.aside__card > img {
  object-fit: cover;
  width: 30%;
  height: 170px;
  border-radius: 15px 0 0 15px;
  overflow: hidden;
}

.aside__cardTitle {
  margin-bottom: 8px;
}

.aside__cardInfos {
  padding: 3% 0 3% 3%;
}

.aside__cardStars {
  color: var(--PrimaryColor);
  margin-top: 50px;
}

/* Section 2*/

.main__container2 {
  margin: 3.5%;
}

.section2__title {
  margin-bottom: 20px;
}

/*CARDS Section2 */

.section2__cardBlock {
  display: flex;
  height: 550px;
  width: 100%;
  column-gap: 2%;
}

.section2__cardOne {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.31);
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.31);
  transition: transform 300ms;
}

.section2__cardOne > img {
  width: 100%;
  height: 89%;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}

.section2__cardOne:hover,
.cardB1:hover,
.cardB2:hover,
.cardD1:hover,
.cardD2:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.section2__cardTitle {
  margin: 10px 15px;
}

/*Column propriétées générales*/

.section2__columnB,
.section2__columnD {
  display: flex;
  flex-direction: column;
  row-gap: 7%;
}

.section2__columnA,
.section2__columnB,
.section2__columnC,
.section2__columnD {
  flex: 1;
}

/*Column B*/

.cardB1 {
  height: 56.5%;
  width: 100%;
  border-radius: 15px;
  -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.31);
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.31);
  transition: transform 300ms;
}

.cardB1 .img1 {
  height: 80%;
  width: 100%;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}

.cardB2 {
  height: 36.5%;
  width: 100%;
  border-radius: 15px;
  -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.31);
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.31);
  transition: transform 300ms;
}

.cardB2 .img2 {
  height: 70%;
  width: 100%;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}

/*Column D*/

.cardD1 {
  height: 36.5%;
  width: 100%;
  border-radius: 15px;
  -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.31);
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.31);
  transition: transform 300ms;
}

.cardD1 .img3 {
  height: 70%;
  width: 100%;
  object-position: top;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}

.cardD2 {
  height: 56.5%;
  width: 100%;
  border-radius: 15px;
  -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.31);
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.31);
  transition: transform 300ms;
}

.cardD2 .img4 {
  height: 80%;
  width: 100%;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}

/*Footer*/
.footer {
  display: flex;
  align-items: center;
  background-color: var(--mainGrey);
  height: auto;
}

.main__footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 2.5% 3.5%;
}

.footer__section {
  margin-right: 10%;
}

.footer__section > h3 {
  margin-bottom: 25px;
}

.footer__list {
  list-style-type: none;
}

.footer__link {
  text-decoration: none;
  color: #000000;
  font-weight: 300;
}

.footer__list > li {
  padding-bottom: 20px;
}

/* Responsive */

/* desktop*/
@media only screen and (min-width: 992px) {
  /*Header*/
  .img__loop {
    display: none;
  }
  /*Main*/
  /*Footer*/
}

/* Tablette */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  /*Header*/
  .header__mainTitle,
  .header__subTitle,
  .header__filters,
  .header__info,
  #search {
    display: flex;
    justify-content: center;
  }

  .header__titles,
  .header__info,
  #search {
    margin-left: 0;
  }
  .header__first {
    margin-right: 0;
  }

  .img__loop {
    display: none;
  }
  /*Main*/

  .main__container {
    flex-direction: column-reverse;
  }

  .main__aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border-radius: 0;
  }

  .aside__title {
    margin-right: 10px;
  }

  .aside__cardBlock {
    width: 60%;
  }

  .main__section1 {
    width: 100%;
    background-color: var(--BackgroundColor);
  }
  /*Footer*/
}

/* Mobile */
@media only screen and (max-width: 767px) {
  /*Header*/
  .header__first {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
  }

  .header__titles {
    margin-left: 0;
  }

  .header__mainTitle,
  .header__info,
  .header__subTitle {
    margin: 20px;
    text-align: center;
  }

  .header__logo {
    margin: 40px 0;
  }

  .header__link {
    padding: 16px 54px;
  }

  .header__link:focus {
    border-top: none;
    border-bottom: 2px solid var(--PrimaryColor);
  }

  .header__link:hover {
    border-top: none;
    border-bottom: 2px solid var(--PrimaryColor);
    color: var(--PrimaryColor);
  }

  #search {
    margin: 0;
    justify-content: center;
    margin-top: 15px;
  }

  .header__filters > p {
    display: none;
  }

  .header__info {
    justify-content: center;
  }

  .header__infoText {
    text-align: center;
  }

  .header__SearchButton > span {
    display: none;
  }

  .img__loop {
    height: 30px;
    width: 30px;
    background-color: var(--PrimaryColor);
    margin: 3px 3px;
    color: whitesmoke;
  }
  /*Main*/

  .main__container {
    flex-direction: column-reverse;
  }

  .main__aside {
    width: 100%;
    border-radius: 0;
  }

  .main__section1 {
    width: 100%;
    background-color: var(--BackgroundColor);
  }

  .section1__card {
    width: 100%;
    margin: 10px;
  }

  .section1__text {
    text-align: center;
  }
  /*Footer*/

  .footer {
    padding: 25px 25px 0 25px;
  }
  .main__footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 15px;
  }

  .footer__section {
    margin-bottom: 30px;
  }
}
